# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/*
.vscode/*
.qtcreator/*
*.user
CMakeLists.txt.user
include/.qtcreator/project.json
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/OrderAnalyse/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/OrderAnalyse/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/OrderAnalyse/FileContentIndex/dda068af-af31-425d-99b1-83b1e2e7bf9f.vsidx
.vs/OrderAnalyse/v17/.suo
.vs/OrderAnalyse/v17/Browse.VC.db
.vs/OrderAnalyse/v17/DocumentLayout.backup.json
.vs/OrderAnalyse/v17/DocumentLayout.json
.vs/OrderAnalyse/v17/Solution.VC.db
.vs/OrderAnalyse/v17/ipch/AutoPCH/6066c733f7335b96/DISTINCT_COUNTER.ipch
.vs/OrderAnalyse/v17/ipch/AutoPCH/6b0c021dcc68bb4/BATCHER.ipch
.vs/OrderAnalyse/v17/ipch/AutoPCH/801f84167676ae01/BATCH_STAGING.ipch
.vs/OrderAnalyse/v17/ipch/AutoPCH/8cf4d537c85b2605/CHART_WIDGET.ipch
.vs/OrderAnalyse/v17/ipch/AutoPCH/9944efd1101f3f04/MAIN_CLI.ipch
.vs/OrderAnalyse-GUI/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/OrderAnalyse-GUI/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/OrderAnalyse-GUI/FileContentIndex/1826469f-2b66-40c0-9096-5a6f606c7940.vsidx
.vs/OrderAnalyse-GUI/v17/.wsuo
.vs/OrderAnalyse-GUI/v17/Browse.VC.db
.vs/OrderAnalyse-GUI/v17/DocumentLayout.backup.json
.vs/OrderAnalyse-GUI/v17/DocumentLayout.json
OrderAnalyse/x64/Debug/OrderAnalyse.log
OrderAnalyse/x64/Debug/vc143.idb
OrderAnalyse/x64/Debug/OrderAnalyse.tlog/CL.command.1.tlog
OrderAnalyse/x64/Debug/OrderAnalyse.tlog/OrderAnalyse.lastbuildstate
OrderAnalyse/x64/Debug/OrderAnalyse.tlog/unsuccessfulbuild
input.txt
OrderAnalyse.sln
OrderAnalyse.vcxproj
OrderAnalyse.vcxproj.filters
